################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Karpach.VisualStudio.Launcher/bin
/Karpach.VisualStudio.Launcher/obj
/Karpach.VisualStudio.Launcher/Karpach.VisualStudio.Launcher.csproj.user
/Karpach.VisualStudio.Launcher.Tests/bin
/Karpach.VisualStudio.Launcher.Tests/obj
/.vs
/vs-launcher.sln.DotSettings.user
